{% extends 'catalog/base.html' %}
{% load my_tag %}
{% block content %}
<div class="col">
    <a class="btn btn-outline-info-link" href="{% url 'catalog:index' %}">Назад</a>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-tite">
                        {{ object.product_name|title }}
                    </h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top"
                         src="{{ object.image|mymedia }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{ object.category|title }}</p>
                        <h1 class="card-title pricing-card-title">{{ object.price_for_one }} руб.<small
                                class="text-body-secondary fw-light"></small></h1>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="list-unstyled mt-3 mb-4 text-center m-3">
                        <li>{{ object.description }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
